@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to top right, #1B1464, #BE262C);
}

.main {
    width: 50%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #011727;
    box-shadow: 0 7rem 14rem rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.icon {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 5rem;
    color: #C4C4C4;
}

h1 {
    font-family: 'Sacramento',
    cursive;
    color: #C4C4C4;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 4rem;
    width: 50rem;
    font-weight: lighter;
    
}

h3 {
    position: absolute;
    right: 10%;
    bottom: 20%;
    transform: translate(-10%, -20%);
    font-family: 'Sacramento';
    color: #C4C4C4;
    font-size: 2.5rem;
}

button {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
    font-family: 'Poppins';
    width: 100%;
    height: 5rem;
    border: 0;
    transition: all .3s;
    cursor: pointer;
    
}

.btn {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:active{
    background-color: #011727;
    color: #C4C4C4;
}

.btn:hover {
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;

    background-color: transparent;
    color: #C4C4C4;
}